.jumbotron {
  background: no-repeat center right fixed url(../../assets/images/bg1.jpg);
  background-size: 100% 100%;
  height: 100%;
}

.header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  text-align: center;
  padding: 20px 40px;
  @media (min-width: 768px) {
    padding: 20px 40px;
  }
  @media (min-width: 992px) {
    padding: 40px 180px;
  }
  .title,
  .subtitle {
    color: #fff;
    font-family: "Lora", serif;
  }
  .title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size: 3rem;
    }
    @media (min-width: 992px) {
      font-size: 4rem;
    }
  }
  .subtitle {
    font-size: 1rem;
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
    @media (min-width: 992px) {
      font-size: 1.5rem;
    }
  }
}

.overlay {
  background-color: $primary;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.5;
  z-index: 2;
}
