@import "./layout/Languages";
@import "./layout/Header";
@import "./layout/Profile";
@import "./layout/Experiences";
@import "./layout/Abilities";
@import "./layout/Projects";
@import "./layout/Contact";

.section {
  padding: 20px 40px;
  // @media (min-width: 992px) {
  //   padding: 20px 40px;
  // }
  @media (min-width: 1200px) {
    padding: 20px 40px;
  }
  article {
    line-height: 1.5;
  }
}
